<header class="header">
    <div class="container">
        <div class="header__content row">
            <div class="header__left">
                <div class="header__logo">
                    <a href="/">
                        <img src="/images/header/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="header__right row">
                <nav class="header__nav">
                    <ul class="header__list row">
                        <li class="header__item"><a class="header__link" href="#">Download</a></li>
                        <li class="header__item"><a class="header__link" href="#">Help</a></li>
                    </ul>
                </nav>
                <div class="header__auth">
                    <a href="/logIn" class="header__btn">Log In</a>
                    <a href="/signUp" class="header__btn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</header>