<section class="login">
        <div class="container h-100">
            <div class="login__content h-100">
                <div class="login__card">
                    <h1 class="login__title">What will you listen to today?</h1>
                    <div class="login__row row">
                        <a href="" class="login__link"><img src="/images/login/Facebook.svg" alt=""></a>
                        <a href="" class="login__link"><img src="/images/login/Google.svg" alt=""></a>
                    </div>
                    <form action="" class="login__form">
                        <label for="login" class="login__label">
                            <input type="text" class="login__input" name="login" id="login">
                            <span class="login__text">Email address or username</span>
                        </label>
                        <label for="password" class="login__label">
                            <input type="password" class="login__input" name="password" id="password">
                            <span class="login__text">Password</span>
                        </label>
                    </form>
                    <div class="login__row--bottom row">
                        <span></span>
                        <button type="submit" class="login__btn">LOG IN</button>
                    </div>
                    <div class="login__box-text">
                        <span class="login__forgot">Forgot your password?</span>
                        <span class="login__q">Don't have an account?</span>
                        <a href="/signup">SIGN UP FOR MUSICBOX</a>
                    </div>
                </div>
            </div>
        </div>
</section>