<section class="signup">
    <div class="container h-100">
        <div class="signup__content h-100">
            <div class="signup__card">
                <h1 class="signup__title">Ready to sign up?</h1>
                <div class="signup__row row">
                    <a href="" class="signup__link"><img src="/images/login/Facebook.svg" alt=""></a>
                    <a href="" class="signup__link"><img src="/images/login/Google.svg" alt=""></a>
                </div>
                <form action="" class="signup__form">
                    <label for="email" class="signup__label">
                        <input type="text" class="signup__input" name="email" id="email">
                        <span class="signup__text">Email address</span>
                    </label>
                    <label for="signup-password" class="signup__label">
                        <input type="password" class="signup__input" name="signup-password" id="signup-password">
                        <span class="signup__text">Password</span>
                    </label>
                    <label for="username" class="signup__label">
                        <input placeholder="Username" type="text" class="signup__input" name="username" id="username">
                    </label>
                    <div class="signup__row--bottom row">
                        <select class="signup__select" name="Date of Birth" id="">
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        <select class="signup__select" name="Gender" id="">
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <button type="submit" class="signup__btn">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
</section>