<section class="signup">
  <div class="container h-100">
    <div class="signup__content h-100">
      <div class="signup__card">
        <h1 class="signup__title">Ready to sign up?</h1>
        <div class="signup__row row">
          <a href="" class="signup__link"><img src="/images/login/Facebook.svg" alt="" /></a>
          <a href="" class="signup__link"><img src="/images/login/Google.svg" alt="" /></a>
        </div>

        <form action="" class="signup__form">
          <label for="email" class="signup__label">
            <input type="text" class="signup__input" name="email" id="email" />
            <span class="signup__text email">Введите вашу почту</span>
          </label>
          <label for="password" class="signup__label">
            <input type="password" class="signup__input" name="password" id="signup-password" />
            <span class="signup__text password">Password</span>
          </label>
          <label for="username" class="signup__label">
            <input
              placeholder="Username"
              type="text"
              class="signup__input"
              name="username"
              id="username"
            />
            <span class="signup__text username">Username</span>
          </label>
          <button type="submit" class="signup__btn">SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  const form = document.querySelector('.signup__form');

  const usernameError = document.querySelector('.signup__text.username');
  const emailError = document.querySelector('.signup__text.email');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const email = form.email.value;
    const username = form.username.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, username, password }),
        headers: { 'Content-Type': 'application/json' },
      });
      const data = await res.json();
      if (data.errors) {
        usernameError.innerHTML = data.errors.username;
        emailError.innerHTML = data.errors.email;
      }
      if (data.user) {
        location.assign('/moods');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
