@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import "./scss/functions";
@import "./scss/mixins";
@import "./scss/base";
@import "./scss/columns";
@import "./scss/components";

@import "./scss/components/global";
@import "./scss/pages/index.scss";                                                                                        