<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./index.css" />
  <title>Document</title>
</head>

<body>
  <header class="album-header">
    <div class="row" style="
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding: 20px 10px;
        ">
      <nav class="album-header__left flex" style="display: flex; align-items: center">
        <div class="logo">
          <img src="./Logo.png" alt="" class="logo__img" />
        </div>
        <ul class="album-header__list flex" style="display: flex">
          <li class="album-header__item">
            <a href="" class="album-header__link">Home</a>
          </li>
          <li class="album-header__item">
            <a href="" class="album-header__link">Library</a>
          </li>
          <li class="album-header__item">
            <a href="" class="album-header__link">Browse</a>
          </li>
        </ul>
      </nav>
      <div class="album-header__middle header-middle flex" style="display: flex">
        <ul class="header-middle__list flex" style="display: flex">
          <li class="header-middle__item">
            <a href="" class="header-middle__link">Lorem</a>
          </li>
          <li class="header-middle__item">
            <a href="" class="header-middle__link">Iosum</a>
          </li>
          <li class="header-middle__item">
            <a href="" class="header-middle__link">Dolor</a>
          </li>
        </ul>
      </div>
      <div class="album-header__right flex" style="display: flex; align-items: center">
        <a href="/logout" class="album-header__logout user flex">
          <span>Log Out</span>
        </a>
        <label for="">
          <input type="text" />
        </label>
        <div class="album-header__user user flex">
          <img src="" alt="">
          <h3>
            <%= user.email %>
          </h3>
          <ul class="album-header__dropdown dropdown">
            <li class="dropdown__item"><a href="#" class="dropdown__link">blalalalala</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">blalalal</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">blalalala</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="album">
    <div class="container">
      <div class="album__genres genres">
        <span class="genres__title">Geners</span>
        <div class="genres__row row">
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">dance / electro</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">pop</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">country</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
          <div class="genres__block">
            <span class="genres__name">hip-hope</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="moods">
    <div class="container">
      <div class="moods__content">
        <div class="moods__title">Moods</div>
        <div class="moods__sector row">
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
          <div class="moods__box">
            <div class="moods__name">party</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const user = document.querySelector('.album-header__user')
    const dropDown = document.querySelector('.album-header__dropdown')

    user.addEventListener('click', () => {
      dropDown.classList.toggle('active')
    })
  </script>
</body>

</html>

<style>
  .moods {
    color: white;
  }

  .moods__title {
    font-size: 40px;
    font-weight: 900;
    padding: 45px 0;
  }

  .moods__name {
    font-size: 35px;
    font-weight: 800;
  }

  .moods__sector {
    justify-content: space-between;
  }

  .moods__box {
    min-width: 225px;
    min-height: 128px;
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    border-radius: 10px;
  }

  .container {
    max-width: 1480px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .album__genres {
    padding: 50px 0;
  }

  .album-header__dropdown {
    position: relative;
    display: none;
  }

  .album-header__dropdown.active {
    display: block;
    position: absolute;
  }

  body {
    background-color: #161A1A;
    color: white;
  }

  .genres__row {
    padding-top: 20px;
    justify-content: space-between;
  }

  .genres__title {
    font-size: 24px;
    color: #ffffff;
  }

  .genres__block {
    min-width: 225px;
    min-height: 128px;
    background: purple;
    border-radius: 10px;
    margin-bottom: 26px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .genres__name {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 15px 15px 0;
  }

  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
  }

  input {
    outline: none;
    border: none;
  }

  .album-header .logo {
    margin-right: 20px;
  }

  .album-header__item {
    margin-right: 10px;
  }

  .album-header__item:last-child {
    margin-right: 0;
    border: 1px solid blue;
    color: blue;
    border-radius: 16px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-middle {
    align-items: center;
  }

  .header-middle__item {
    margin-right: 20px;
  }

  .header-middle__item:last-child {
    margin-right: 0;
  }
</style>