.login {
    height: 100vh;
    background: url(/images/hero/hero-bg.png) no-repeat center top;
    background-size: cover;
    &__content {
        @include flex-center;
    }
    &__card {
        width: vw(600);
        height: vw(563);
        background: #fff;
        color: #000;
        border-radius: vw(8);
        box-sizing: border-box;
        padding: vw(40) vw(86);
    }
    &__title {
        font-size: vw(28);
        font-weight: 900;
        line-height: vw(1.2);
        text-align: center;
    }
    &__row {
        justify-content: center;
        margin-top: vw(40);
        &--bottom {
            margin-top: vw(30);
            justify-content: space-between;
        }
    }
    &__link {
        margin: vw(0) vw(10);
        img {
            width: vw(180);
            height: vw(38);
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__label {
        position: relative;
        align-items: center;
        margin-top: vw(35);
    }
    &__btn {
        width: vw(207);
        padding: vw(12) 0;
        background: #2d9bef;
        border-radius: vw(20);
        font-size: vw(16);
        font-weight: 700;
        line-height: 1.2;
        color: #fff;
    }
    &__box-text {
        display: flex;
        flex-direction: column;
        margin-top: vw(18);
        text-align: center;
        a {
            font-size: vw(16);
            font-weight: 700;
            color: #000000;
            width: vw(426);
            height: vw(40);
            border: vw(1) solid #000000;
            border-radius: vw(40);
            margin-top: vw(16);
            @include flex-center;
        }
    }
    &__forgot {
        font-size: vw(16);
        font-weight: 700;
        color: #2D9BEF;
        margin-bottom: vw(51);
    }
    &__q {
        font-size: vw(20);
    }
}

.label {
    &__text {
        transform: translateY(-50%);
        transition: 0.3s;
        line-height: 1.2;
        position: absolute;
        z-index: 1;
        top: vw(22);
        left: vw(20);
        font-size: vw(16);
        color: #99999F;
    }
    &__input {
        width: vw(426);
        height: vw(50);
        box-sizing: border-box;
        padding: vw(20) vw(20) vw(15);
        border: vw(2) solid black;
        border-radius: vw(4);
        transition: 0.1s;
        font-size: vw(14);
        line-height: 1.2;
        outline: none;
        transition: 0.3s;
        &:focus,
        &.active {
                border-color: #2d9bef;
                + .label__text {
                top: 20%;
                font-size: vw(11);
                color: #898b91;
            }
        }
    }
    &.active {
        .label__text {
          top: 20%;
          font-size: vw(14);
          color: #898b91;
        }
    }
}